{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<section class="vh-100" style="background-color: #5cb874;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card" style="border-radius: 1rem;">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-none d-md-block">
								<img src="/images/loginImage.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
							</div>
							<div class="col-md-6 col-lg-7 d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">

									<form method="post">
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}

										{% if app.user %}
											<div
												class="mb-3">{# You are logged in as
																																						{{ app.user.userIdentifier }},
																																						<a href="{{ path('app_logout') }}">Logout</a> #}
											</div>
										{% endif %}

										<div class="d-flex align-items-center mb-3 pb-1">
											{# <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> #}
											{# <img class="imageLogo"src="/images/logo.jpg"> #}
												<span class="h1 fw-bold mb-0"> Logo</span>
										</div>

										<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

										<div class="form-outline mb-4">

											<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>
											<label class="form-label" for="inputEmail">Email address</label>

										</div>

										<div class="form-outline mb-4">


											<input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>
											<label class="form-label" for="inputPassword">Password</label>
										</div>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										<div class="pt-1 mb-4">
											<button class="btn btn-dark btn-lg btn-block" type="submit">
												Sign in
											</button>
										</div>
										<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
											<a href="{{ path('app_register') }}" style="color: #393f81;">Register here</a>
										</p>

									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
