{% extends "base.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('findPlante2') }}
{% endblock %}


{% block body %}


	<!-- Navbar Start -->
	<div class="container-fluid mb-5">
		<div class="row border-top px-xl-5">
			<div class="col-lg-2 d-none d-lg-block">
				<section class="filtres">


					<div class="accordion" id="accordionPanelsStayOpenExample">
						{{ form_start(form, {'attr': {'id': 'filtre-form-plante',
											'data-route': path("maPlante") }}) }}
						<div class="accordion-item">
							<h2 class="accordion-header" id="panelsStayOpen-headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
									Exposition
								</button>
							</h2>
							<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
								<div class="accordion-body">

									{% for choice, value in form.exposition %}
										<div class="custom-radio">
											{{ form_widget(value, { 'attr': {'class': 'custom-control-input'} }) }}
											<label class="custom-control-label" for="{{ value.vars.id }}">{{ value.vars.value }}</label>
										</div>
									{% endfor %}


								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
									Besoin eau
								</button>
							</h2>
							<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
								<div class="accordion-body">

									{% for choice, value in form.besoinEau %}
										<div class="custom-radio">
											{{ form_widget(value, { 'attr': {'class': 'custom-control-input'} }) }}
											<label class="custom-control-label" for="{{ value.vars.id }}">{{ value.vars.value }}</label>
										</div>
									{% endfor %}

								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="panelsStayOpen-headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
									Pour cultiver où ?
								</button>
							</h2>
							<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
								<div class="accordion-body">

									{% for choice, value in form.lieuCultive %}
										<div class="custom-radio">
											{{ form_widget(value, { 'attr': {'class': 'custom-control-input'} }) }}
											<label class="custom-control-label" for="{{ value.vars.id }}">{{ value.vars.value }}</label>
										</div>
									{% endfor %}

								</div>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</section>
			</div>


			<div
				class="col-lg-10">
				<!-- Categories Start -->
				<div class="container-fluid pt-5">
					<div class="row plante">


						{% for plante in listePlantes %}


							<div class="col-lg-3 col-md-6 pb-1">


								<div class="containerPhoto cat-item d-flex flex-column border mb-4">

									<div class="cardcontainer">
										<div class="photo">
											{% for image in plante.images %}
												<a href="{{ path('detaillePlante', {'id': plante.id}) }}" class="detaillePlante cat-img position-relative overflow-hidden mb-3" data-id="{{ plante.id }}" data-route="/plante/detaille/">
													<img src="{{ asset(image.url) }}">
												</a>
											{% endfor %}
											<div class="photos">{{ plante.nom }}</div>
										</div>
										<div class="content">
											<p class="txt4">exposition :
												{{plante.exposition}}</p>
											<p class="txt4">besoin Eau :
												{{plante.besoinEau}}</p>
											<p class="txt4">niveau Soin :
												{{plante.niveauSoin}}</p>
											<p class="txt4">niveau Soin :
												{{plante.niveauSoin}}</p>


										</div>
										<div class="footer">
											<p>
												<a class="detaillePlante waves-effect waves-light btn" href="{{ path('detaillePlante', {'id': plante.id}) }}">Read More</a>
												<a class="favorite-button" data-route="/plante/listSouhait/" data-id="{{ plante.id }}" id="heart">
													<span class="like">
														<i class="fab fa-gratipay"></i>Like</span>
												</a>
											</p>
											<p class="txt3">
												<i class="far fa-clock"></i>10 Minutes Ago
												<span class="comments">
													<i class="fas fa-comments"></i>45 Comments</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					
				</div>
			</div>

			<!-- Categories End -->
		</div>
	</div>
</div>
<!-- Navbar End -->


<!-- Footer End -->


<!-- Back to Top -->
	<a href="#" class="btn btn-primary back-to-top"> <i class="fa fa-angle-double-up"></i>
</a>

{% block customJS %}
	{{ encore_entry_script_tags('findPlante') }}
{% endblock %}{% endblock %}
