<nav>
    <ul>
        {# <li><a href="{{ path('accueil') }}">Accueil</a></li> #}
        {# <li><a href="{{ path('encyclopedie') }}">Encyclopédie</a></li>
        <li><a href="{{ path('maPlante') }}">Trouver une plante</a></li>
        <li><a href="{{ path('inscription') }}">Inscription</a></li>
        <li><a href="{{ path('connexion') }}">connexion</a></li> #}

         <li><a href="{{ path('maPlante') }}">Trouver une plante</a></li>
    </ul>
</nav>